
  <!-- adds a CSS id for each micropost using -->
	
		<div class="post_wrapper">
			<div class="media_wrapper">
				<p class="name"><%= link_to post.user.name, post.user, class: "name" %></p>    			<!-- links to the users profile -->
				<p class="media"><%= post.body_html %></p>
				<div class="date_and_like">
					
		            <span>
		              <%= link_to like_post_path(post), method: :get, class: "data" do %>
						  <i class="fa fa-thumbs-o-up"></i>
						  <%= pluralize(post.get_likes.size, "Like") %>
					  <% end %>
		            </span>
		            <span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago </span>
		            
		        </div>
			</div>
		</div>
	

